<div class="flex justify-content-start flex-wrap">
  <div appDirTitles class="flex align-items-center justify-content-center mb-1  ">
      Mantenedor de Usuarios
  </div>
</div>

<app-user-form (userSubmited)="onUserSubmiter($event)"></app-user-form>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Position Column matColumnDef: directiva del displayColumns-->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName + ' ' + element.lastName }} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Correo </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Rol </th>
      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>
  
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Accion </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-icon-button color="warn" (click)="onDeleteUser(element)">
          <mat-icon>delete</mat-icon>
        </button>  
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
