    <mat-tab-group #tabGroup animationDuration="0ms">
        <mat-tab label="Listado">
            <div class="table-data mt-5 p-3">
                <div class="flex justify-content-start flex-wrap">
                    <div appDirTitles class="flex align-items-center justify-content-center mb-1  ">
                        Alumnos Inscrito Año 2024
                    </div>
                </div>
                <app-page-table
                    [dataSource]="dataSource" 
                    [displayedColumns]="displayedColumns"
                    (deleteStudentById)="deleteStudentById($event)"
                    (editStudentByID)="editStudentByID($event)"
                ></app-page-table>
            </div>
        </mat-tab>
        <mat-tab label="Agregar Nuevo Estudiante">
            <div class="flex justify-content-start flex-wrap">
                <div appDirTitles class="flex align-items-center justify-content-center mb-1 ">
                    Formulario de Registro
                </div>
            </div>
            <app-page-form class="mt-1 " 
                    (userSubmited)="onStudentSubmiter($event)" 
                    [studentDataEdit]="studentDataEdit"
                    ></app-page-form>
        </mat-tab>
    </mat-tab-group>


