<div class="flex justify-content-start flex-wrap">
    <div appDirTitles class="flex align-items-center justify-content-center mb-1  ">
        Mantenedor de Alumnos 
    </div>
  </div>
    <mat-tab-group #tabGroup animationDuration="0ms">
        <mat-tab label="Listado">
            <div class="table-data mt-5 p-3">
                <div class="flex justify-content-start flex-wrap">
                    <div appDirTitles class="flex align-items-center justify-content-center mb-1  ">
                        Alumnos Inscritos (Año 2024)
                    </div>
                </div>
                <app-page-table
                    [dataSource]="dataSource" 
                    [displayedColumns]="displayedColumns"
                    (deleteStudentById)="deleteStudentById($event)"
                    (editStudentByID)="editStudentByID($event)"
                    (viewStudentByID)="viewStudentByID($event)"
                ></app-page-table>
            </div>
        </mat-tab>
        <mat-tab label="Agregar Nuevo Estudiante">
            <div class="flex justify-content-start flex-wrap">
                <div appDirTitles class="flex align-items-center justify-content-center mb-1 ">
                    Inscribir nuevo Alumnos
                </div>
            </div>
            <app-page-form class="mt-1 " 
                    (userSubmited)="onStudentSubmiter($event)" 
                    [studentDataEdit]="studentDataEdit"
                    [courses]="courses"
                    [careers]="careers"
                    ></app-page-form>
        </mat-tab>
    </mat-tab-group>


    <div class="mt-5">
        <c-callout color="warning">
            En este mantenedor se podra agregar a nuevos alumnos con todos sus datos básicos y su primera inscripción
        </c-callout>
      </div>