
    

    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Listado">
            <div class="table-data mt-5 p-3">
                <div class="flex justify-content-start flex-wrap">
                    <div class="flex align-items-center justify-content-center mb-1 font-italic text-lg">
                        Alumnos Inscrito Año 2024
                    </div>
                </div>
                <app-page-table
                    [dataSource]="dataSource"
                    [displayedColumns]="displayedColumns"
                ></app-page-table>
            </div>
        </mat-tab>
        <mat-tab label="Agregar Nuevo Estudiante">
            <app-page-form (userSubmited)="onStudentSubmiter($event)"></app-page-form>
        </mat-tab>
        <mat-tab label="Top 10 Estudientes">

        </mat-tab>
    </mat-tab-group>


