.not-permission-container {
    text-align: center;
    padding: 20px;
  }
  
  .not-permission-icon {
    font-size: 100px;
    color: #e74c3c; /* Puedes ajustar el color según tu preferencia */
  }
  
  .not-permission-title {
    font-size: 36px;
    margin-top: 10px;
  }
  
  .not-permission-text {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .not-permission-link {
    font-size: 16px;
    margin-top: 20px;
    color: #3498db; /* Puedes ajustar el color según tu preferencia */
    text-decoration: none;
  }
  
  .not-permission-link:hover {
    text-decoration: underline;
  }